<h1>Invoice</h1>

<p>
  <strong>Name:</strong>
  <%= current_user.first_name %> <%= current_user.last_name %>
</p>
<p>
  <strong>Company:</strong>
  <%= current_user.bprofile.name %>
</p>

    <%= simple_form_for(@invoice) do |f| %>
    
      <%= f.error_notification %>
    
      <div class="form-inputs">
           <%= f.input :amount %>
      </div>
      
    <%= simple_form.fields_for :invoice_item do | invoice_item | %>
      <div class="form-inputs">
           <%= invoice_item.input :description %>
           <%= invoice_item.input :quantity %>
      </div>
      
      
      <div class="form-actions">
           <%= f.button :submit %>
      </div>
    <% end %>
