<%= simple_form_for([@job, @job.application.build]) do |f| %>
  <%= f.error_notification %>
<p>
  <strong>Company:</strong>
  <%= @user.bprofile.name %>
</p>
<p>
   <strong>Name:</strong>
   <%= user.first_name %>
   <%= user.last_name %>
</p>
  <div class="form-inputs">
    <%= f.input :attachment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
