<p id="notice"><%= notice %></p>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<p>
  <strong>Job function:</strong>
  <%= @job.job_function %>
</p>
<%= link_to 'Apply', new_job_application_path(@job) %>
<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
