<div class="row">
    <div class="col-xs-3">
    </div>
      <div class="col-xs-6">
         <div class="panel panel-default">
           <div class="panel-body">
    
              <%= form_for(@user) do |f| %>
                <% if @user.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
                    <ul>
                      <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                 <div class="field form-group">
                      <%= f.label :avatar %><br>
                      <%= f.file_field :avatar, class: 'form-control' %>
                 </div>
                 <div class="field form-group">
                      <%= f.label :first_name %> <br>
                      <%= f.text_field :first_name, class: 'form-control'  %>
                </div>
                <div class="field form-group">
                      <%= f.label :last_name %> <br>
                      <%= f.text_field :last_name, class: 'form-control'  %>
                </div>
                <div class="field form-group">
                      <%= f.label :position %><br>
                      <%= f.text_area :position, class: 'form-control'  %>
                </div>
                <div class="field form-group">
                      <%= f.label :contact_deatils %><br>
                      <%= f.text_field :contact_deatils, class: 'form-control' %>
                </div>
                 <div class="actions">
                  <%= f.submit %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
    <div class="col-xs-3">
    </div>
</div>
