<p id="notice"><%= notice %></p>

<h1>Listing Bprofiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Copmpany type</th>
      <th>Number of employes</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bprofiles.each do |bprofile| %>
      <tr>
        <td><%= bprofile.name %></td>
        <td><%= bprofile.summary %></td>
        <td><%= bprofile.copmpany_type %></td>
        <td><%= bprofile.number_of_employes %></td>
        <td><%= bprofile.industry %></td>
        <td><%= link_to 'Show', bprofile %></td>
        <% if current_user && bprofile.user == current_user %>
        <td><%= link_to 'Edit', edit_bprofile_path(bprofile) %></td>
        <td><%= link_to 'Destroy', bprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bprofile', new_bprofile_path %>
